---
layout: base.njk
title: Drone Surveying with NEI and Microdrones
---

<main id="main">
    <section id="header" class=" bg-nei_blue bg-center bg-cover bg-no-repeat p-5 md:px-20 py-20 " style="background-image:url('/static/images/contour-bg.png')">
        <div class="px-4 container mx-auto text-white grid grid-cols-1 lg:grid-cols-12 lg:gap-8">
            <div id="top-text" class="p-10 lg:col-span-7 bg-nei_blue lg:max-w-lg">
                <img class="w-32 mb-6" src="/static/images/nei-logo-color.png"/>
                <h1 class="font-bold text-4xl leading-snug mb-6">Activate&nbsp;your
                    <br>Microdrones®
                    <br class="sm:hidden">gift&nbsp;card</h1>
                <p class="text-base font-light">
                    <span class="text-nei_yellow font-bold">Complete the form to activate your gift card from NEI for up to $3000 towards an mdaaS purchase or rental.&ast;</span>
                    You will also gain access to our educational webinar, “mdaaS: An easy way to Make Drone LiDAR and Drone Surveying a Part of Your Business.”</p>

            </div>
            <div id="form-container" class="px-0 py-0 bg-white col-span-5">

                <!-- SharpSpring Form for NEI Gift Card Promo 2 -->
                <script type="text/javascript">
                    var ss_form = {
                        'account': 'MzawMDEzNjQ0BAA',
                        'formID': 'M08ySk6xNDXTtUgzN9M1MTJJ0k1KNEvRtTRKNUuxMEpMSbRMBAA'
                    };
                    ss_form.width = '100%';
                    ss_form.height = '300';
                    ss_form.domain = 'app-3QNBUQC6X6.marketingautomation.services';
                    // ss_form.hidden = {'field_id': 'value'};  Modify this for sending hidden variables, or overriding values
                    // ss_form.target_id = 'target';  Optional parameter: forms will be placed inside the element with the specified id
                    // ss_form.polling = true;  Optional parameter: set to true ONLY if your page loads dynamically and the id needs to be polled continually.
                </script>
                <script type="text/javascript" src="https://koi-3QNBUQC6X6.marketingautomation.services/client/form.js?ver=2.0.1"></script>

            </div>
        </div>
    </section>
    <section class="px-5 md:px-20 pt-20 pb-10">
        <div class="px-4 container mx-auto grid grid-cols-1 md:grid-cols-2 gap-1">
            <div>
                <img class="mx-auto sm:max-w-md" src="/static/images/md-nei-1000-giftcard-front-shadow.png"/>
            </div>
            <div>
                <img class="mx-auto sm:max-w-md" src="/static/images/md-nei-3000-giftcard-front-shadow.png"/>
            </div>
        </div>
    </section>
    <section class="px-5 md:px-20 pt-0 pb-10">
        <div>
            <p class="text-center text-nei_blue text-2xl leading-normal font-bold mb-6">AVAILABLE OPTIONS:</p>
            <div class="px-4 container mx-auto grid grid-cols-1 md:grid-cols-2 gap-1 text-white font-light">
                <div class="bg-cover bg-nei_blue bg-right-top pt-24 px-10 pb-10" style="background-image:url('/static/images/md4-1000-voucher-bg.png')">
                    <p class="font-light text-xl">
                        <span class="text-6xl font-bold">$1000</span>
                        <br>
                        <span class="font-bold">mdLiDAR1000 or mdMapper1000 series:</span>
                        <br>
                        $1000 voucher for future aaS purchases
                    </p>
                </div>
                <div class="bg-cover bg-nei_yellow bg-right-top pt-24 px-10 pb-10" style="background-image:url('/static/images/md4-3000-voucher-bg.png')">
                    <p class="font-light text-xl">
                        <span class="text-6xl font-bold">$3000</span>
                        <br>
                        <span class="font-bold">mdLiDAR3000 or mdMapper3000 series:</span>
                        <br>
                        $3000 voucher for future aaS purchases
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="px-5 md:px-20 py-10">
        <div class="px-4 container mx-auto text-center max-w-4xl">
            <p class="text-xl mb-8 font-light">
                There’s never been a better time to get started with everything needed to use drones for complex surveying work. Microdrones as a Service provides drone surveying options for everyone with convenient lease or buy hardware and software packages as well as affordable monthly&nbsp;payment&nbsp;options.
            </p>

            <p class="font-bold text-xl mb-5 text-nei_blue">*Gift Card Voucher Guidelines:</p>
            <ul class="max-w-2xl mx-auto">
                <li class="mb-4">
                    <span class="font-bold">mdLiDAR1000 or mdMapper1000 series:</span>
                    <br>$1000 voucher for future purchases,
                    <br>PO required no later than September 30, 2020
                </li>
                <li class="mb-4">
                    <span class="font-bold">mdLiDAR3000 or mdMapper3000 series:</span>
                    <br>
                    $3000 voucher for future purchases,
                    <br>PO required no later than September 30, 2020
                </li>
            </ul>
        </div>
    </section>
    <footer class="text-center px-5 md:px-20 p-5 container mx-auto">
        <div id="footer-inner" class="p-10 border-t border-divide_gray">
            <img src="/static/images/nei-logo-grey.png" class="mx-auto"/>
        </div>
    </footer>
</main>